@import "./fonts.scss";

.apie {
  background-image: url("../images/tools.jpg");
  background-size: cover;
  min-height: 98vh;
  height: auto;
  margin-top: 3%;
  margin-bottom: 1%;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.75);
  h1 {
    text-align: center;
    font-family: $main-font3;
    color: $main-color;
    font-size: 3.2rem;
    padding: 30px;
  }
  .person-box {
    @include marginMid;
    border: 3px solid black;
    height: 300px;
    width: 300px;
    background-image: url("../images/person.png");
    border-radius: 100%;
    background-size: cover;
  }

  .info-box {
    margin-top: 20px;
    @include marginMid;
    border-radius: 5px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    min-height: 200px;
  }

  .text-box {
    width: 30%;
    text-align: center;
    box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, 0.411);
  }
  h2 {
    font-size: 2.5rem;
    font-family: $main-font2;
  }
  p {
    font-size: 1.4rem;
    font-family: $main-font3;
  }
}

@media all and (max-width: 768px) {
  .apie {
    background-position: center center;
    h1 {
      font-size: 3rem;
      padding: 10;
    }
    .text-box {
      width: 95%;
      margin-top: 15px;
    }
    .person-box {
      margin-top: 30px;
      height: 250px;
      width: 250px;
    }
    .info-box {
      flex-direction: column;
      align-items: center;
      width: 95%;
      margin-top: 40px;
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
